name: PR 


on:
  push:
    branches:
      - main

env: 
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Login docker
        run: docker login https://ghcr.io -u wquintal -p $GITHUB_ACCESS_TOKEN
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }} 
      - name: Dependency
        run: sudo apt-get update && sudo apt-get install g++ make pkg-config libx11-dev libasound2-dev libudev-dev libxkbcommon-x11-0 libwayland-dev libxkbcommon-dev && rustup component add rustfmt
      - name: Dependencies
        run: cargo vendor
      - name: Test
        run: make test
      - name: Style Check
        run: make format
      - name: Build allumette
        run: make build_docker_allumette_server 
      - name: Publish docker allumette
        run: make push_docker_allumette_server